<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write New Chat</title>
  </head>
  <body>
    <h2>Write a new chat..</h2>
    <form action="">
      <input placeholder="who are you" name="" from />
      <textarea name="msg" id="">Write your Msg..</textarea>
    </form>
  </body>
</html>
