<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write New Chat</title>
  </head>
  <body>
    <h2>Write a new chat..</h2>
    <form method="POST" action="/chats">
      <input placeholder="who are you" name="from" from />
      <br /><br />
      <textarea name="msg" placeholder="Write your Msg.."></textarea>
      <br /><br />
      <input placeholder="Add Reciver" name="to" from />
      <br />
      <br />
      <button>Create Chat</button>
    </form>
  </body>
</html>
